.footer {
  margin-right: 1.5rem;
  margin-bottom: 1.5rem;
  line-height: 1.5;
}
.menulinks {
  color: #424040;
  font-size: medium;
  padding-left: 4rem;
}
.submenu_links {
  color: #1f1f1f;
  font-weight: lighter;
  padding-left: 4rem;
  padding-right: 4rem;

}
